<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="au.org.aekos.api" level="WARN" />
    <logger name="au.org.aekos.api.service.retrieval.JenaRetrievalService" level="DEBUG" />
    <logger name="au.org.aekos.api.controller.SignupController" level="TRACE" />
    <logger name="org.apache.jena.arq.info" level="INFO" />
    <logger name="org.apache.jena.arq.exec" level="INFO" />
</configuration>