<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>&AElig;KOS API</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript"
	src="/thirdparty/startbootstrap-stylish-portfolio-1.0.4/js/bootstrap.min.js"></script>

<link rel="stylesheet"
	href="/thirdparty/startbootstrap-stylish-portfolio-1.0.4/css/bootstrap.min.css" />
<!-- Custom JS -->
<script type="text/javascript" src="/js/aekos-api.js"></script>
<!-- Custom CSS -->
<link rel="stylesheet"
	href="/thirdparty/startbootstrap-stylish-portfolio-1.0.4/css/stylish-portfolio.css" />
<link rel="stylesheet" href="/css/aekos-api.css" />
<!-- Custom Fonts -->
<link
	href="/thirdparty/startbootstrap-stylish-portfolio-1.0.4/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
</head>
<body class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="error-template">
					<!-- th:block rather than unneeded div -->
					<th:block th:switch="${param.status[0]}">
						<div th:case="'ok'">
							<h1>Signup was successful</h1>
							<br/>
							<div>
								You've been signed up for access to the &AElig;KOS API. <br />Please
								wait for an email to arrive which contains your API key, along
								with further instructions on how to use it.
							</div>
							<br/><br/>
							<div class="error-actions">
								<a href="/access" class="btn btn-primary btn-lg"><span
									class="glyphicon glyphicon-home"></span> Go home </a>
							</div>
						</div>
						<div th:case="'failed'">
							<h1>Oh dear...</h1>
							<div>
								Signup to the &AElig;KOS API wasn't successful. Maybe the
								captchya failed? <br />Please try again.
							</div>
						</div>
						<br/><br/>
						<div class="error-actions">
							<a href="/access" class="btn btn-primary btn-lg"><span
								class="glyphicon glyphicon-home"></span> Try again </a>
						</div>
					</th:block>

				</div>
			</div>
		</div>
	</div>
</body>
</html>