.vocab {
  width: 90%;
}

.step {
  background-color: #EEE;
  margin: 2em 0;
  padding: 1em;
}

.species-list, .data-list {
  overflow-y: auto;
}

.species-list {
  max-height: 300px;
}

.data-list {
  max-height: 400px;
  white-space: pre;
  font-family: monospace;
  font-size: 0.9em;
}

.paging-buttons {
  margin-top: 1em;
}
